
$custom-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
);

.cardLists {
  padding-bottom: 5px;
  margin-bottom: 20px;

  @include grid-container;

}

.cardLists__title {
  padding-top:$small-spacing;
}

.cardLists__card {


  padding:10px 5px;

  @include grid-column(12 );

  @include grid-media($grid-setting-large){
    @include grid-column(6);
  }

  &:nth-child(odd){
    clear:left;
  }

}


.cardLists.--column-1 .cardLists__card{
  @include grid-column(12);
}


.cardLists__card {
  @extend .cardLists__card;
}



