
$custom-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
);

.cardLists {
  padding-bottom: 5px;
  margin-bottom: 20px;

  @include grid-container;
  @include grid-collapse;

}

.cardLists__title {
  padding-top:$small-spacing;
}

.cardLists__card {
  padding-bottom:$small-spacing;


  @include grid-column(6);
	
	&:nth-child(2n+1){
    clear:left;
  }

  @include grid-media($grid-setting-large){
    @include grid-column(4 of 12);

		&:nth-child(2n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:left;
		}
  }
}

.cardLists.--column-2 .cardLists__card{
  @include grid-column(6);

	&:nth-child(2n+1){
    clear:left;
  }

  &:nth-child(3n+1){
    clear:none;
  }

}

.cardLists.--column-1 .cardLists__card{
  @include grid-column(12);
}

.cardLists__card {
  @extend .cardLists__card;
}

