.cardLists {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.cardLists__title {
    background:rgba(255,255,255,0.7);
    border-top:4px solid #000;
    border-bottom:4px solid #000;
    font-size:20px;
}

.cardLists__card {

    background:#fff;
    border: 4px solid #000;
    margin:10px 5px;
}

.cardLists__card {
    @extend .cardLists__card;
}

.cardLists--blue {
    background: #6874a6;
    @extend .cardLists;
}

.cardLists--red {
    background: #ae7d7d;
    @extend .cardLists;
}

.card {
    padding: 5px;
    @include outer-container(100%);
}

.card__title {
    text-align:center;
}

.card__wrap {
    @include outer-container(100%);
}
.card__img {
    @include span-columns(12 of 24);
}

.card__img img {
    max-width:100%;
}

.card__desc {
    @include span-columns(12 of 24);
}

.card__price {
    color: red;
    font-size: 20px;
    text-align:center;
}

.card__showMoreDetail {
    text-align:right;
    margin-top:-25px;
    padding-bottom:10px;
}

.card__showMoreDetail a {
    text-decoration:none;
    color:#000;
}
