
.contentBox {
  background:#fff;
  border-radius:$base-border-radius;

  padding: $base-spacing;

  &.--blue {
    background: $senja-blue;
  }

  &.--green{
    background: $senja-green;
  }

  &.--red {
    background: $senja-red;
  }

  &.--noPadding{
    padding:0;

  }

  &.--noPadding{
    padding:0;

  }

  padding: $small-spacing;


}

.contentBox__title{
  margin-left:-$small-spacing;
  margin-right:-$small-spacing;

}

.contentBox__content{
  

  @include grid-container();

  @include grid-collapse;

  @include grid-media($grid-setting-large){

    @include grid-collapse($grid-setting-large);
  }
}

.contentBox__image {
  @include grid-column(5);

  @include grid-media($grid-setting-large){
    @include grid-column(12);
  }
}


.contentBox__desc {
  @include grid-column(7);

  @include grid-media($grid-setting-large){
    @include grid-column(12);
  }
}

.contentBox__images .images{
    @include grid-container(100%);
}

.contentBox__images .image {
    @include grid-column(6 of 12);
}


.contentBox__button {
    background: #475689;
    margin: 10px 20px;
    text-align:center;
    padding:10px 5px;
    border-radius:5px;
}

.contentBox__button a {
    color:#fff;
    text-decoration:none;
    font-size:20px;
}
