
.contentBox {
    background:#fff;
    @extend .defaultBorder
}

.contentBox--botMargin {
    @include outer-container(100%);
    @extend .contentBox;
    margin-bottom:20px;
}

.contentBox--botMargin {
    padding:5px;
}

.contentBox--botMargin__image {
    @include span-columns(6 of 12);
}

.contentBox--botMargin__image img {
    max-width:100%;
}

.contentBox--botMargin__desc {
    @include span-columns(6 of 12);
}

.contentBox--botMargin__images .images{
    @include outer-container(100%);
}

.contentBox--botMargin__images .image {
    @include span-columns(6 of 12);
}


.contentBox--botMargin__button {
    background: #475689;
    margin: 10px 20px;
    text-align:center;
    padding:10px 5px;
    border-radius:5px;
}

.contentBox--botMargin__button a {
    color:#fff;
    text-decoration:none;
    font-size:20px;
}
