///////////////////////// Basic Settings /////////////////////////////

.contentLayout{

  @include grid-container;
  @include grid-collapse;

  margin-bottom:$base-spacing;


}

.contentLayout__main{
  margin-bottom:$base-spacing;
}

.contentLayout__sub{
  margin-bottom:$base-spacing;
}

.contentLayout__right{
  margin-bottom:$base-spacing;
}

.contentLayout__left{
  margin-bottom:$base-spacing;
}



///////////////////////// mainSub layout /////////////////////////////

.contentLayout.--mainSub{

  .contentLayout__main{
    @include grid-column(12);

  }
  .contentLayout__sub{
    @include grid-column(12);
  }


  @include grid-media($grid-setting-large){
    .contentLayout__main{
      @include grid-column(8);

    }
    .contentLayout__sub{
      @include grid-column(4);
    }

  }
}



///////////////////////// 2-column layout /////////////////////////////

.contentLayout.--column-2{

  .contentLayout__left{
    @include grid-column(12);

  }
  .contentLayout__right{
    @include grid-column(12);
  }


  @include grid-media($grid-setting-medium){
    .contentLayout__left{
      @include grid-column(6);
    }

    .contentLayout__right{
      @include grid-column(6);

    }

  }
}

///////////////////////// 2-column layout /////////////////////////////

.contentLayout.--column-2{
  .contentLayout__content{
    @include grid-column(12);
  }
}


