
.contentLayout{

  @include grid-container;
  @include grid-collapse;

  margin-bottom:$base-spacing;


}

.contentLayout__main{
  margin-bottom:$base-spacing;
}

.contentLayout__sub{
  margin-bottom:$base-spacing;
}


.contentLayout.--mainSub{

  .contentLayout__main{
    @include grid-column(12);

  }
  .contentLayout__sub{
    @include grid-column(12);
  }


  @include grid-media($grid-setting-large){
    .contentLayout__main{
      @include grid-column(8);

    }
    .contentLayout__sub{
      @include grid-column(4);
    }

  }
}



