.newsLists {
    background:#fff;
    margin-bottom: 20px;
}

.newsLists-border {
    border-bottom: 1px solid #000;
}


.newsLists__newsBox {
    @extend .newsLists-border;
}


.newsBox {
  padding:$small-spacing;
}

.newsBox__content{
  p{
    @extend .n;

  }
}
