.sealGroup{
  margin:0;
  padding:0;
  border:0;
  td{
    margin:0;
    padding:0;
    border:0;
  }

  background:red;

}



.sealGroup__item {
  text-align:center;

  background:green;

}

.sealGroup__image{
  margin:0 auto;
}

.sealGroup__number {

}
