.sealGroup{
  margin:0;
  padding:0;
  border:0;

  line-height:1.1;

  color:white;

  border-bottom:1px solid white;

  td{
    margin:0;
    padding:5px;
    border:0;
  }
}

.sealGroup__item {
  text-align:center;


}

.sealGroup__image{
  margin:0 auto;
}

.sealGroup__number {

}
