doctype html
html
  head
    title= 千社札.com


    meta(name="viewport", content="width=device-width,initial-scale=1")

    :php
      wp_enqueue_style('style', get_stylesheet_uri(), array(), time() );




    block head_end

    - wp_head();

  body

    div.page
      div.page__header
        block head
      div.page__content
        .contentLayout.--mainSub
          .contentLayout__main
            block content

          .contentLayout__sub
            block sidebar

      div.page__footer
        block foot

    block body_end

    - wp_footer();
