doctype html
html
  head
    title= 千社札.com
    :php
      wp_enqueue_style('style', get_stylesheet_uri(), array(), time() );
      wp_head();
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    div.page
      div.page__header
        include ../includes/head
      div.page__content
        div.page__main
          block content
        div.page__sidebar
          include ../includes/sidebar

      div.page__footer
        include ../includes/foot