div.page__topHeader
  div.topHeader

    div.topHeader__siteTitleBorder
      div.siteTitleBorder__siteTitle 千社札.com

    div.topHeader__go2English
      div.go2English
        a(href="#") Go to English page
      
