.topHeader
  .topHeader__topbar
    .topbar
      .topbar__inner
        .topbar__siteTitle 
          a(href="/")
            img.topbar__siteLogo(src="<?= get_stylesheet_directory_uri()?>/images/topbar_sitelogo.png")
        .topbar__otherLangs
          // もはやulいらないかも
          ul.otherLangs.--on-topbarInside
            li.otherLangs__item
              a.otherLangs__link(href="/en")
                img.otherLangs__image(src="<?= get_stylesheet_directory_uri()?>/images/lang_button_en.png")




        .topbar__menuButton
          button.menuButton
            img.menuButton__image(src="<?= get_stylesheet_directory_uri()?>/images/menu_button.jpg")
      


  

