div.page__globalNav
  div.globalNavBox

    h1.globalNavBox__siteTitle 千社札.com

    div.globalNav
      ul
        li.globalNav__item
          a(href="") ABOUT
        li.globalNav__item
          a(href="") HEY!ART 
        li.globalNav__item
          a(href="") PARTNERS




div.page__topSlider
  div.topSliderBox
    p slide