mixin item_card
  .card
    .card__img
      - echo get_the_post_thumbnail( $page->ID );
    .card__desc
      h2.n.card__title <?= the_title(); ?>
      | <?= the_excerpt(); ?>
    .card__price  <?= get_post_meta(get_the_ID(), 'price', true); ?>
    .card__showMoreDetail 詳しく見る>>

