html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}



h1, .h1{
  background:rgba(255,255,255,0.8);

  padding:$small-spacing;
  border:$card-border-width double #000;

  &.n{
    background:none;
    padding:0;
    border:0;

  }
}

h2, .h2{

  background:rgba(255,255,255,0.8);
  padding:$small-spacing;
  border-top:$card-border-width solid #000;
  border-bottom:$card-border-width solid #000;
  
  &.n{
    background:none;
    padding:0;
    border:0;

  }
}

h3, .h3{
  padding:$small-spacing;
  border-bottom:$card-border-width double #000;

  &.n{
    padding:0;
    border:0;

  }
}




p {
  margin: 0 0 $small-spacing;
  &.n{
    margin: 0;
  }
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}



/**
 * 8.0 Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}


// block quote

blockquote{
  margin:0;
  padding:$base-spacing;
  background:rgba(255,255,255,0.8);

}


