extends struct

block page
  div.page
    div.page__header
      block head
    div.page__content
      .contentLayout.--mainSub
        .contentLayout__main
          block content

        .contentLayout__sub
          block sidebar

    div.page__footer
      block foot


