extends layouts/2column-layout

block head
  include ./includes/head

block foot
  include ./includes/foot


block content
  .contentBox.--green
    .articleContent
      h1 千社札シール

      h3 人気の千社札シール
      - $sealNum = 16;
      - $tabNum = 16;
      - $groupNum = 8;
      - $seal_id = 1;


      ul#sealList.sealList
        - for($tab_i = 0; $tab_i < $sealNum/$tabNum; $tab_i++):
          li.sealList__tab
            - for($group_i = 0; $group_i < $tabNum/$groupNum; $group_i++):
              table.sealGroup
                tr 
                  - for($seal_i = 1 ; $seal_i <= $groupNum; $seal_i++):
                    td.sealGroup__item

                      img.sealGroup__image(src="<?= get_stylesheet_directory_uri()?>/images/seals/<?= $seal_id ?>.jpg")
                      .sealGroup__number
                        - echo $seal_id;
                    - $seal_id ++;
                  - endfor;
            - endfor;
        -endfor;


      p(style="text-align:center;font-size:32px;")
        strong 
          a.button(href="/seal/seal-tabs") すべてのデザインを見る
      
      - if(is_404()):

        h1(style="text-align:center;") ページが見つかりません
        p(style="text-align:center;") 申し訳ありません。お探しのページが見つかりません。

      - else:
        - while(have_posts()): the_post()
          - the_content(); 
        - endwhile;
      - endif;
      
block sidebar
  include ./includes/sidebar
