extends layouts/2column-layout.jade

block head
  include ./includes/head


block foot
  include ./includes/foot

block content
  .contentBox.--green
    .articleContent
      h1 シール一覧

      
      - $sealNum = 200;
      - $tabNum = 50;
      - $groupNum = 10;
      - $seal_id = 1;


      ul#sealList.sealList
        - for($tab_i = 0; $tab_i < $sealNum/$tabNum; $tab_i++):
          li.sealList__tab
            - for($group_i = 0; $group_i < $tabNum/$groupNum; $group_i++):
              table.sealGroup
                tr
                  td(colspan="5").sealGroup__description このシールグループについての説明
                tr 
                  - for($seal_i = 1 ; $seal_i <= $groupNum; $seal_i++):
                    td.sealGroup__item

                      img.sealGroup__image(src="<?= get_stylesheet_directory_uri()?>/images/seals/<?= $seal_id ?>.jpg")
                      .sealGroup__number
                        - echo $seal_id;
                    - $seal_id ++;
                  - endfor;
            - endfor;
        -endfor;

      p(style="text-align:center;font-size:32px;")
        strong 
          a.button(href="./seal") 千社札シールトップに戻る

      
block sidebar
  include ./includes/sidebar


