


$neat-grid: (
  columns: 12,
  gutter: 10px,
);


$grid-setting-medium: (
  columns: 12,
  gutter: 10px,
  media: $medium-screen,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$grid-setting-large: (
  columns: 12,
  gutter: 20px,
  media: $large-screen,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);




$grid-setting-nogutter: (
  columns: 12,
  gutter: 0px,
  //media: $medium-screen,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

