/* head */
.topHeader__siteTitleBorder {
}


.topHeader__go2English {
    background: #475689;
    margin: 10px 20px;
    text-align:center;
    padding:10px 5px;
    border-radius:5px;
}

.topHeader__go2English a {
    color:#fff;
    text-decoration:none;
    font-size:20px;
}


.topHeader__otherLangs {
  margin-top:1rem;
  margin-bottom:1rem;
  
}
