extends layouts/basic-layout

block head
  include ./includes/head


block foot
  include ./includes/foot


block head_end
  - wp_enqueue_script("jquery")
  - wp_enqueue_script("slick", '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
  - wp_enqueue_style("slickcss", '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')

block body_end
  script.
    jQuery(function(){
      jQuery('#homeSlider').slick({
        autoplay:true,
        autoplaySpeed:4000 //4秒
      });
    });


block content
  include ./includes/mixin_card
  .contentLayout.--column-1
    .contentLayout__content.--noBottomSpace
      #homeSlider.homeSlider
        .homeSlider__slide
          a.homeSlider__link(href="")
            img.homeSlider__image(src="<?= get_stylesheet_directory_uri() ?>/images/slider_slide_1.jpg")

        .homeSlider__slide
          a.homeSlider__link(href="")
            img.homeSlider__image(src="<?= get_stylesheet_directory_uri() ?>/images/slider_slide_2.jpg")

        .homeSlider__slide
          a.homeSlider__link(href="")
            img.homeSlider__image(src="<?= get_stylesheet_directory_uri() ?>/images/slider_slide_3.jpg")


    //
      .contentLayout__sub
      div.contentBox
        h2.n 千社札とは？

        div.contentBox__content
          div.contentBox__image
            img(src="<?= get_stylesheet_directory_uri() ?>/images/what_is_senjafuda.jpg")    
          div.contentBox__desc 千社札と書いて「せんじゃふだ(せんしゃふだ)」と読みます。世の中の安泰と家内安全を願う千社参りの札を、略して千社札というようになったとされています。当店ではこの千社札をシール・ストラップ・名刺にして、銀座歌舞伎座の向かいで販売しています。


  .contentLayout.--column-1
    .contentLayout__content
      div.contentBox.--green
        //
          div.contentBox__title
            h2 当店の人気商品


        div.contentBox__content
          div.cardLists.--green
            :php
              $parent_id = get_page_by_path('items')->ID;              
              $args = array( 
                'post_type' => 'page',
                'post_parent' => $parent_id,
                'orderby' => 'menu_order',
                'order' => 'ASC',
              );

              $the_query = new WP_Query( $args );

            - while($the_query->have_posts()) : $the_query->the_post()
              div.cardLists__card
                a.card__link(href="<?= get_the_permalink(); ?>")
                  +item_card()

            - endwhile;
      

  .contentLayout.--mainSub

    .contentLayout__main
      .contentBox.--red
        .contentBox__title
          h2 ご購入事例の紹介

        .contentBox__content
          div.cardLists.--red.--column-2
            :php
              $parent_id = get_page_by_path('examples')->ID;              
              $args = array( 
                'post_type' => 'page',
                'post_parent' => $parent_id,
                'orderby' => 'menu_order',
              );

              $the_query = new WP_Query( $args );  

            - while($the_query->have_posts()) : $the_query->the_post()

              div.cardLists__card

                a.card__link(href="<?= get_the_permalink(); ?>")
                  div.card
                    h3.n <?= the_title(); ?>
                    div.card__wrap
                      div.card__img
                        - echo get_the_post_thumbnail( $page->ID);
                      div.card__desc <?= the_excerpt(); ?>
                
            - endwhile;

    .contentLayout__sub
      div.contentBox.--blue
        div.contentBox__title
          h2 新着情報・メディア掲載

        .newsLists.contentBox__cancelPadding
          - while(have_posts()): the_post()
          div.newsLists__newsBox
            div.newsBox
              div.newsBox__content <?= the_content(); ?>
          - endwhile;

  div.contentBox
    .contentBox__title
      h2.align_center  毎日更新！FaceBookやってます！
    p.contentBox__desc--full Facebookに、お店に来てくださった外国人のお客様の写真をアップしております。
    <div class="fb-page" data-href="https://www.facebook.com/senjafuda/" data-tabs="timeline" data-width="300" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/senjafuda/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/senjafuda/">千社札 senjafuda Japan Souvenir</a></blockquote></div>



    
    div.contentBox__button
      a(href="https://www.facebook.com/senjafuda") Facebook/senjafuda
