extends layouts/basic-layout

block content
  div.contentBox
    h2.contentBox__title 千社札ストラップ・シール専門店
      div 画像
  div.contentBox--botMargin
    h2.contentBox--botMargin__title 千社札とは？
    div.contentBox--botMargin__image 画像
    div.contentBox--botMargin__desc 千社札と書いて「せんじゃふだ ( せんしゃ ふだ )」と読みます。 世の中の安泰と家内安全を願う千社参り の札を、略して千社札というようになっ たとされています。 当店ではこの千社札をシール・ストラッ プ・名刺にして、銀座 歌舞伎座の向か いで販売しています。

  div.cardLists--blue
    div.cardLists__title
      div 当店の人気商品
    div.cardLists__card
      div.card
        h3.card__title 千社札ストラップ
        div.card__wrap
          div.card__desc 自分の名前を彫った千社札 ストラップを携帯やバッグ などにつけられる木札や京 ちりめんは人気商品です。 デザインは 15 タイプ。材 質はヒノキ・桜・黒檀・ツゲ・ 黒水牛・牛角の 7 種類、大 きさは 3 種類。
          div.card__img 画像
        div.card__price  1080円より
        div.card__showMoreDetail
          a(href="")詳しく見る>>
    div.cardLists__card
      div.card
        h3.card__title 千社札シール 
        div.card__wrap
          div.card__desc 自分の名前を彫った千社札 ストラップを携帯やバッグ などにつけられる木札や京 ちりめんは人気商品です。 デザインは 15 タイプ。材 質はヒノキ・桜・黒檀・ツゲ・ 黒水牛・牛角の 7 種類、大 きさは 3 種類。
          div.card__img 画像
        div.card__price  1080円より
        div.card__showMoreDetail
          a(href="")詳しく見る>>
    div.cardLists__card
      div.card
        h3.card__title 京ちりめんストラップ
        div.card__wrap
          div.card__desc 自分の名前を彫った千社札 ストラップを携帯やバッグ などにつけられる木札や京 ちりめんは人気商品です。 デザインは 15 タイプ。材 質はヒノキ・桜・黒檀・ツゲ・ 黒水牛・牛角の 7 種類、大 きさは 3 種類。
          div.card__img 画像
        div.card__price  1080円より
        div.card__showMoreDetail
          a(href="")詳しく見る>>
    div.cardLists__card
      div.card
        h3.card__title 千社札名刺
        div.card__wrap
          div.card__desc 自分の名前を彫った千社札 ストラップを携帯やバッグ などにつけられる木札や京 ちりめんは人気商品です。 デザインは 15 タイプ。材 質はヒノキ・桜・黒檀・ツゲ・ 黒水牛・牛角の 7 種類、大 きさは 3 種類。
          div.card__img 画像
        div.card__price  1080円より
        div.card__showMoreDetail
          a(href="")詳しく見る>>
  div.cardLists--red
    div.cardLists__title
      div ご購入事例の紹介
    div.cardLists__card
      div.card
        h3.card__title 外国人向けお土産・プレゼント用千社札ストラップ
        div.card__wrap
          div.card__img 画像
          div.card__img 画像
    div.cardLists__card
      div.card
        h3.card__title 外国人向けお土産・プレゼント用千社札ストラップ
        div.card__desc 学校の校章を入れて作ることも可能ですので非常に好評です。
        div.card__img 画像
    div.cardLists__card
      div.card
        h3.card__title 外国人向けお土産・プレゼント用千社札ストラップ
        div.card__desc 学校の校章を入れて作ることも可能ですので非常に好評です。
        div.card__img 画像
    div.cardLists__card
      div.card
        h3.card__title 外国人向けお土産・プレゼント用千社札ストラップ
        div.card__imgs 複数の画像

  div.newsLists
    div.newsLists__title
      div 新着情報・メディア掲載
    div.newsLists__newsBox
      div.newsBox
        div.newsBox__img 画像
        div.newsBox__title 外国人による日本観光サイトの『東京で買うべきお 土産 20』の中で 12 位に選ばれました!
    div.newsLists__newsBox
      div.newsBox
        div.newsBox__img
        div.newsBox__title
    div.newsLists__newsBox
      div.newsBox
        div.newsBox__img
        div.newsBox__title
    div.newsLists__newsBox
      div.newsBox
        div.newsBox__img
        div.newsBox__title
    div.newsLists__newsBox    
      div.newsBox
        div.newsBox__img
        div.newsBox__title
      
  div.contentBox--botMargin
    h2.contentBox--botMargin__title 毎日更新！FaceBookやってます！
    div.contentBox--botMargin__images
      div.images
        div.image 画像
        div.image 画像
    p.contentBox--botMargin__desc--full Facebookに、お店に来てくださった外国人のお客様の写真をアッ プしております。
    div.contentBox--botMargin__button
      a(href="") Facebook/senjafuda
    

      

  