
extends layouts/2column-layout

block head
  include ./includes/head


block foot
  include ./includes/foot


block content
  .contentBox.--green
    .articleContent

      - if(is_404()):

        h1(style="text-align:center;") ページが見つかりません
        p(style="text-align:center;") 申し訳ありません。お探しのページが見つかりません。

      - else:

        - while(have_posts()): the_post()
          - the_content(); 
        - endwhile;

      - endif;

      
block sidebar
  include ./includes/sidebar


